* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #0554F2;
    --dark-blue: #14216E;
    --white: #FFF;
    --dark: #1B1A26;
}


html,
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: var(--dark);
    text-rendering: optimizeLegibility;
    background-color: #FCFCFC;
    zoom: 0.97;
}

p {
    line-height: 1.5;
    font-size: 80%;
    font-weight: 400;
}

section {
    padding: 80px 0;
}

.row {
    max-width: 90vw;
    margin: 0 auto;
}

/* --------------------------------------------------------------- */
/* Buttons */
/* --------------------------------------------------------------- */
.btn {
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
}

.btn-ghost {
    border: 2px solid var(--blue);
    padding: 10px 50px;
    color: var(--blue);
    transition: all .3s ease;
}

.btn-ghost:hover {
    color: var(--white);
    background-color: var(--blue);
}

.btn-full {
    background-color: var(--blue);
    padding: 12px 50px;
    color: var(--white);
    transition: all .3s ease;
}

.btn-full:hover {
    background-color: var(--dark-blue);
}



/* --------------------------------------------------------------- */
/* NAV */
/* --------------------------------------------------------------- */

.logo {
    display: flex;
    gap: 20px;
}

.logo h3 {
    margin: auto 0;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px 40px;
    position: fixed;
    width: 100%;
    z-index: 9;
}

.navlinks ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.navlinks ul li:last-of-type {
    margin-right: 0;
}

.navlinks ul li a {
    text-decoration: none;
    font-size: 100%;
    font-weight: 400;
    color: var(--dark);
}

.navlinks ul li:first-of-type a:hover {
    color: var(--blue);

}

.navlinks ul li .btn-ghost {
    padding: 5px 25px;
}

.mobile-nav {
    text-align: right;
    margin-bottom: 20px;
    padding: 20px;
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    width: 100%;
}

.mobile-nav .mobile-nav-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #0554f2c4;
    backdrop-filter: blur(10px);
    z-index: -1;
}

.mobile-nav .menu-btn {
    width: 40px;
    height: auto;
    margin-bottom: 30px;
    fill: var(--blue);
    transition: all .3s ease;
    position: relative;
    z-index: 9;
}

.mobile-nav .menu-btn:hover {
    fill: var(--dark-blue);
}

#mob-link {
    opacity: 0;
    transition: all .3s ease;
    height: 0px;
    pointer-events: none;
}

.mobile-nav ul li {
    list-style: none;
    margin: 20px 0;
}

.mobile-nav ul li a {
    text-decoration: none;
    font-size: 110%;
    font-weight: 400;
    color: var(--white);
}

/* --------------------------------------------------------------- */
/* Hero */
/* --------------------------------------------------------------- */

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    align-items: center;
    padding: 120px 0 0 0;
}

.hero .message h1 {
    font-size: 300%;
    font-weight: 800;

}

.hero .message p,
h1 {
    margin-bottom: 20px;
}

.hero .message a {
    margin-top: 30px;
}

.hero-img {
    display: block;
}

.hero-img img {
    width: 600px;
    height: auto;
}

/* --------------------------------------------------------------- */
/* Section Details */
/* --------------------------------------------------------------- */

.details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
}

.details .details-text h2 {
    font-size: 200%;
    font-weight: 700;
    margin-bottom: 25px;
}

/* --------------------------------------------------------------- */
/* Section Features */
/* --------------------------------------------------------------- */

.section-features {
    text-align: center;
}

.section-features .row {
    margin: 0 auto;
}

.section-features h1 {
    font-size: 200%;
}

.section-features .row:first-of-type {
    margin-bottom: 90px;
}

.section-features .feature-card header img {
    width: 55%;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-items: center;
    gap: 50px;
    padding: 0 80px;
}

.section-features .feature-card {
    width: auto;
    display: grid;
    gap: 30px;
    background-color: var(--white);
    filter: drop-shadow(0px 0px 20px #e3eaf3);
    padding: 20px;
    border-radius: 10px;
    transition: all 0.3s ease;
}


.section-features .feature-card p {
    font-size: 80%;
    width: 85%;
    margin: 20px auto;
}

.section-features .feature-card header {
    margin: 0 auto;
    height: 310px;
    width: auto;
    background-color: var(--dark-blue);
    border-radius: 10px;
    display: grid;
}

.section-features .feature-card img {
    width: 50%;
    height: auto;
    margin: auto;
}

.feature-card footer {
    padding: 0;
}

.section-features .feature-card:hover {
    transform: scale(1.03);
}

/* --------------------------------------------------------------- */
/* Section Try */
/* --------------------------------------------------------------- */

.section-try {
    text-align: center;
}

.section-try h1 {
    font-size: 200%;
}

.section-try p {
    font-size: 100%;
    margin: 0 auto;
}

.section-try .btn-full {
    padding: 15px 30px;
}

.section-try a {
    margin: 80px 0;
}

.section-try a p {
    font-size: 100%;
    font-weight: 400;
}

.section-try a div {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* --------------------------------------------------------------- */
/* Section Footer */
/* --------------------------------------------------------------- */

footer {
    text-align: center;
    padding: 30px 0;
}

footer ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.footer-icon {
    margin: 10px 0;
}

.footer-icon ul li a svg {
    color: var(--dark);
    transition: all 0.2s ease;
}

.footer-icon svg:hover {
    color: var(--blue);
}


/* big tablets to 1200px:*/
@media only screen and (max-width: 1200px) {

    .row {
        max-width: 90vw;
    }

    body {
        font-size: 18px;
    }

    .mobile-nav {
        display: none;
    }

    .navlinks {
        display: block;
    }

    .hero {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 40% 60%;
        gap: 0px;
        align-items: center;
    }

    .hero-img {
        display: none;
    }

    .details {
        grid-template-columns: 40% 60%;
        align-items: center;
        gap: 0;
    }

    .hero-img {
        display: block;
    }

    .detail-img {
        text-align: center;
    }

    .detail-img img {
        width: 600px;
    }



}

/* small tablets to big tablets: from 768 to 1023px */
@media only screen and (max-width: 1023px) {

    .row {
        max-width: 90vw;
    }

    body {
        font-size: 18px;
    }

    .mobile-nav {
        display: none;
    }

    .navlinks {
        display: block;
    }

    .hero {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 40% 60%;
        gap: 0px;
        align-items: center;
    }

    .details {
        grid-template-columns: 40% 60%;
        align-items: center;
        gap: 0;
    }

    .hero-img {
        display: block;
    }

    .detail-img {
        text-align: center;
    }

    .detail-img img {
        width: 500px;
    }



}

/* small phones to small tablets: from 481 to 767px */
@media only screen and (max-width: 767px) {

    body {
        font-size: 16px;
    }

    .row {
        max-width: 90vw;
        margin: 0 auto;
    }

    .navlinks {
        display: none;
    }

    .mobile-nav {
        display: block;
    }


    .hero {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 100%;
        gap: 0px;
        align-items: center;
        padding: 150px 0 0 0;
    }

    .hero .message h1 {
        font-size: 200%;
    }

    .details {
        grid-template-columns: 100%;
        align-items: center;
        gap: 0;
    }

    .hero-img {
        display: none;
    }

    .detail-img {
        text-align: center;
    }

    .detail-img img {
        width: 400px;
    }

    .wrapper {
        padding: 0 80px;
    }

    .section-features .feature-card {
        width: auto;
        display: grid;
        gap: 30px;
        background-color: var(--white);
        filter: drop-shadow(0px 0px 20px #e3eaf3);
        padding: 20px;
        border-radius: 10px;
        transition: all 0.3s ease;
    }



    .section-features .feature-card p {
        font-size: 80%;
        width: 85%;
        margin: 20px auto;
    }

    .section-features .feature-card header {
        margin: 0 auto;
        height: 280px;
        width: auto;
        background-color: var(--dark-blue);
        border-radius: 10px;
        display: grid;
    }

    .section-features .feature-card img {
        width: 50%;
        height: auto;
        margin: auto;
    }

    .feature-card footer {
        padding: 0;
    }


}

/* small phones: from 0 to 480px */
@media only screen and (max-width: 500px) {

    .wrapper {
        padding: 0%;
    }

}