* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #0554F2;
    --dark-blue: #14216E;
    --white: #FFF;
    --dark: #1B1A26;
    --gray: #9B9EA8;
    --bgray: #EAEFF9;
    --lgray: #c7cad6;
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: var(--dark);
    text-rendering: optimizeLegibility;
    background-color: #EAEFF9;
}

p {
    line-height: 1.5;
    font-size: 70%;
    font-weight: 400;
}

section {
    padding: 80px 0;
}

.row {
    max-width: 90vw;
    margin: 0 auto;
}

/* --------------------------------------------------------------- */
/* Buttons */
/* --------------------------------------------------------------- */

.btn {
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
}

.btn-ghost {
    border: 2px solid var(--blue);
    padding: 10px 50px;
    color: var(--blue);
    transition: all .3s ease;
}

.btn-ghost:hover {
    color: var(--white);
    background-color: var(--blue);
}

.btn-full {
    background-color: var(--blue);
    padding: 12px 50px;
    color: var(--white);
    transition: all .3s ease;
}

.btn-full:hover {
    background-color: var(--dark-blue);
}

/* --------------------------------------------------------------- */
/* Side Navbar */
/* --------------------------------------------------------------- */

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    text-align: center;
    background-color: var(--white);
    padding: 30px 0;
    width: 150px;
    filter: drop-shadow(0px 0px 20px rgba(195, 195, 195, 0.2));
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    transition: all 0.3s ease;

}

.logo-content {
    width: 100%;
}

.menu-btn {
    width: 30px;
    height: auto;
}

.sidebar ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.sidebar ul li {
    width: 100%;
    margin: 20px 0;
    position: relative;
}

.sidebar ul li::after {
    content: "";
    position: absolute;
    background-color: var(--blue);
    height: 100%;
    width: 0px;
    top: 0;
    right: 0;
    /* opacity: 0; */
    transition: all 0.3s ease;
}

.sidebar ul li:hover:after {
    /* opacity: 1; */
    width: 5px;
}

.sidebar ul li a {
    text-decoration: none;
    color: var(--gray);
    margin-top: 10px;
}


.sidebar ul li img {
    width: 30px;
    height: auto;
}

.sidebar ul li p {
    font-size: 65%;
}

.sidebar ul li .logout img {
    width: 25px;
    height: auto;
}

.sidebar .dashboard-menu {
    width: 25px;
    height: auto;
}

.logout-btn {
    margin: 0 auto;
    position: relative;
}

.logout {
    color: var(--blue);
}

.logout::after {
    content: "";
    position: absolute;
    background-color: var(--blue);
    height: 100%;
    width: 0px;
    top: 0;
    right: 0;
    /* opacity: 0; */
    transition: all 0.3s ease;
}

.logout:hover {
    color: var(--dark);
}

/* .logout-btn::after{
    content: "";
    position: absolute;
    background-color: var(--blue);
    height: 100%;
    width: 5px;
    top: 0;
    right: 0;
    opacity: 0;
    transition: all 0.4s ease;
}

.logout-btn:hover:after{
    opacity: 1;
} */

.logout-btn a {
    text-decoration: none;
    color: var(--blue);
}

.logout {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

/* --------------------------------------------------------------- */
/* head */
/* --------------------------------------------------------------- */

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 180px);
    left: 180px;
    background-color: var(--white);
    filter: drop-shadow(0px 3px 2px rgba(234, 239, 249, 1));
    padding: 15px 30px;
    position: fixed;
    top: 0;
    z-index: 9;
    gap: 20px;
}

.head .left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.dashboard-menu {
    display: grid;
    align-items: center;
    display: none;
}

.head .left svg {
    width: 22px;
    height: auto;
}


.head .search-bar {
    display: flex;
    align-items: center;
    position: relative;
}

.head .search-bar input {
    height: 40px;
    width: calc(100%);
    border-radius: 500px;
    background-color: var(--bgray);
    outline: none;
    border: none;
    text-align: left;
    font-size: 80%;
    padding-left: 50px;
    color: var(--gray);
}

.head .search-bar input::placeholder {
    color: var(--gray);
    font-size: 90%;
}

.head .search-bar img {
    position: absolute;
    z-index: 9;
    left: 10px;
    width: 25px;
    height: auto;
}


.head .user-profile {
    display: flex;
    gap: 15px;
    align-items: center;
}

.head .user-profile p {
    font-size: 85%;
}

.head .user-profile div {
    width: 45px;
    height: 45px;
    border-radius: 500px;
    background-color: var(--blue);
    color: var(--white);
    display: grid;
    align-items: center;
}

.head .user-profile div h3{
    font-size: 120%;
    font-weight: 500;
    margin: auto;
}

/* --------------------------------------------------------------- */
/* Home content */
/* --------------------------------------------------------------- */

.home-content {
    position: absolute;
    width: calc(100% - 180px);
    height: auto;
    min-height: 100%;
    left: 180px;
    background-color: var(--white);
    filter: drop-shadow(0px 0px 20px rgba(195, 195, 195, 0.2));
}


/* --------------------------------------------------------------- */
/* Content */
/* --------------------------------------------------------------- */

.content {
    padding: 30px;
    margin-top: 50px;
    position: relative;
}

.content-head {
    margin: 20px 0 50px 0;
    font-size: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.content-head::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -20px;
    background-color: var(--gray);
}

.content-head .btn-full {
    padding: 12px 20px;
    border-radius: 10px;
}

.content-head a div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.content-head a div svg {
    width: 15px;
    height: auto;
}


.pass .top button,
.card .top button,
.address .top button,
.note .top button,
.todo .right button {
    outline: none;
    background: none;
    border: none;

}

.pass .top svg,
.card .top svg,
.address .top svg,
.note .top svg,
.todo button svg {
    color: var(--blue);
    border: 0px solid;
    border-radius: 500px;
    transition: all .2s ease;

}

.pass .top button:hover svg,
.card .top button:hover svg,
.address .top button:hover svg,
.note .top button:hover svg,
.todo .right button:hover svg {
    border: 1px solid;
    border-radius: 500px;

}

.add-asset2 {
    display: flex;
    gap: 40px;
    position: absolute;
    left: 50%;
    top: 200%;
    transform: translate(-50%, -50%);
}

.add-asset2 svg{
    width: 80px;
    height: 80px;
}

.add-asset2 h1 {
    font-size: 300%;
    font-weight: 600;
    color: var(--bgray);
    text-align: center;
}


/* --------------------------------------------------------------- */
/* Passwords */
/* --------------------------------------------------------------- */

.pass-wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(410px, 1fr));
    gap: 30px;
}

.pass {
    background: var(--white);
    width: 410px;
    height: auto;
    border-radius: 10px;
    border: 1px solid var(--gray);
    padding: 20px;
    /* filter: drop-shadow(0px 0px 5px rgb(234, 234, 240)); */
    text-decoration: none;
    color: var(--dark);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .2s ease;
}

.pass:hover {
    transform: scale(1.05);
}

.pass .top {
    display: flex;
    justify-content: flex-end;
    color: var(--gray);
}



.pass .middle {
    text-align: center;
    margin: 20px 0;
}



.pass .middle a{
    text-decoration: none;
    color: var(--dark);
    font-weight: 900;
    font-size: 210%;
    text-transform: uppercase;
}

.pass .middle img {
    height: 50px;
    width: auto;
}

.pass .bottom {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#acc-pass {
    transition: display .2s ease;
}

.pass .bottom p:first-of-type {
    font-weight: 600;
}



/* --------------------------------------------------------------- */
/* Cards */
/* --------------------------------------------------------------- */

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(410px, 1fr));
    gap: 30px;
}

.card {
    /* background: var(--bgray); */
    padding: 20px;
    width: 410px;
    height: 250px;
    border: 1px solid;
    border-radius: 10px;
    color: var(--dark);
    transition: all .2s ease;
    position: relative;
    text-decoration: none;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover {
    transform: scale(1.02);
}

.card .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 100%;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 3px;
    margin-bottom: 15%;
}

.card .middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.card .middle h3 {
    font-size: 100%;
    font-weight: 600;
}

.midbottom {
    display: flex;
    gap: 10px;
    position: relative;
    bottom: -10px;
    font-size: 80%;
}

.card .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.card .bottom h3 {
    font-size: 100%;
    text-transform: uppercase;
}

.card .bottom p {
    font-size: 90%;
}

.btm {
    display: grid;
    gap: 10px;
}

/* --------------------------------------------------------------- */
/* Address */
/* --------------------------------------------------------------- */

.address-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.address {
    /* background: var(--bgray); */
    width: 310px;
    height: auto;
    border: 1px solid var(--dark);
    border-radius: 10px;
    padding: 20px;
    text-decoration: none;
    color: var(--dark);

    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-between;
    transition: all .2s ease;
}

.address:hover {
    transform: scale(1.02);
}

.address .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.address .top .location svg {
    color: var(--dark);
}

.address .top .location:hover svg {
    color: var(--blue);
}

.address .middle {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.address .middle .heading {
    font-size: 100%;
    font-weight: 600;
}

/* --------------------------------------------------------------- */
/* Notes */
/* --------------------------------------------------------------- */

.notes-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.note {
    width: 305px;
    height: auto;
    border: 1px solid var(--dark);
    border-radius: 10px;
    padding: 20px;
    text-decoration: none;
    color: var(--dark);

    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-between;
    transition: all .3s ease;
}

.note:hover {
    transform: scale(1.02);
}

.note .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note .middle {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.note .middle .heading {
    font-size: 100%;
    font-weight: 600;
}

/* --------------------------------------------------------------- */
/* TODO */
/* --------------------------------------------------------------- */

.todo-list-wrapper {
    position: relative;
}

.todo-input {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.todo-input input {
    width: 100%;
    height: 60px;
    border: 1px solid var(--gray);
    padding: 0 60px;
    outline: none;
    border-radius: 10px;
    font-size: 80%;
}



.todo-input svg {
    width: 30px;
    position: absolute;
    left: 15px;
}

.todo-input .add-button {
    position: absolute;
    right: 10px;
}

.todo-input .add-button .btn-full {
    padding: 10px 15px;
    border-radius: 10px;
}

.todo-input .add-button .btn-full svg {
    width: 15px;
    height: auto;
    position: static;
}

.todo-input .add-button button {
    outline: none;
    border: none;
    font-size: 100%;
}

.todo-input .add-button button div {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* TODO */

.todo-wrapper {
    display: grid;
    gap: 10px;
    align-items: center;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    background: var(--bgray);
}

.todo:hover {
    filter: drop-shadow(0px 0px 1px var(--lgray));
}

.todo .left {
    align-items: center;
}

.todo .left input {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: none;
    background: var(--dark);
}

.todo .right {
    display: flex;
    align-items: center;
}

.todo .middle p {
    font-size: 80%;
}

/* --------------------------------------------------------------- */
/* Add */
/* --------------------------------------------------------------- */
.add-asset {
    height: 100vh;
    position: absolute;
    z-index: 100;
    background-color: rgba(27, 28, 38, 0.7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
}

.add-asset .add {
    width: calc(25%);
    display: inline-block;
    color: var(--dark);
    background-color: var(--white);
    padding: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.add-asset .add .add-asset-logo {
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--dark);
}

.add-asset .add .add-asset-logo {
    margin-bottom: 50px;
}

.add-asset .add .add-asset-logo img {
    width: 40px;
    height: auto;
}

.add-asset .add form div {
    margin: 20px 0;
}

.add-asset .add form div p {
    margin-bottom: 10px;
}

.add-asset .add input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--dark);
    border-radius: 5px;
    outline: none;
    font-size: 80%;
}

.add-asset .add input[type="reset"] {
    padding: 10px 50px;
    width: auto;
    font-size: 70%;
}

.add-asset .add input:focus,
textarea:focus {
    border: 1px solid var(--blue);
    color: var(--blue);

}

.add-asset .add input::placeholder,
textarea::placeholder {
    color: var(--lgray);
    ;
}

.add-asset .add textarea {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    font-size: 80%;
    font-family: 'Open Sans', sans-serif;
}

.add-asset .add .show-pass {
    display: flex;
    align-items: center;
    gap: 20px;
}

.add-asset .add .show-pass p {
    margin: 0;
}

.add-asset .add input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.add-asset .add .asset-buttons {
    margin-top: 50px;
    display: flex;
    gap: 15px;
}

.add-asset .add button {
    border: 1px solid;
}

.add-asset .add .card-pin-cvv div {
    margin: 0;
}

.add-asset .add .card-pin-cvv {
    display: flex;
    gap: 20px;
}

.add-asset .add .btn-ghost {
    background-color: var(--white);
    border: 1px solid var(--dark);
    color: var(--dark);
}

.add-asset .add .btn-ghost:hover {
    background-color: var(--dark);
    border: 1px solid var(--dark);
    color: var(--white);
}



@media only screen and (max-width: 1200px) {

    .add-asset .add {
        width: calc(40%);
    }

    .sidebar {
        left: 0px;
    }

    .dashboard-menu {
        display: none;
    }

    .pass-wrapper,
    .card-wrapper,
    .address-wrapper,
    .notes-wrapper,
    .todo-list-wrapper {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .pass,
    .card,
    .address,
    .note,
    .todo {
        width: 100%;
        margin: 0 auto;
    }



}

@media only screen and (max-width: 1023px) {

    .add-asset .add {
        width: calc(50%);
    }

    .side-nav {
        left: 0px;
    }

    .dashboard-menu {
        display: none;
    }

    .pass-wrapper,
    .card-wrapper,
    .address-wrapper,
    .notes-wrapper,
    .todo-list-wrapper {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .pass,
    .card,
    .address,
    .note,
    .todo {
        width: 100%;
        margin: 0 auto;
    }


}


@media only screen and (max-width: 768px) {

    body {
        font-size: 18px;
    }

    .add-asset .add {
        width: calc(70%);
    }

    .sidebar {
        left: -150px;
    }

    .sidebar ul li img {
        width: 25px;
        height: auto;
    }

    .sidebar ul li p {
        font-size: 80%;
    }

    .logo-content {
        display: none;
    }

    .dashboard-menu {
        display: block;
    }

    .head {
        width: 100%;
        left: 0;
        padding: 10px 30px;
    }

    .head .left {
        gap: 10px;
    }



    .home-content {
        width: 100%;
        left: 0;
    }

    .pass-wrapper,
    .card-wrapper,
    .address-wrapper,
    .notes-wrapper,
    .todo-list-wrapper {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .pass,
    .card,
    .address,
    .note,
    .todo {
        width: 100%;
        margin: 0 auto;
    }

}

@media only screen and (max-width: 480px) {

    body {
        font-size: 16px;
    }

    .add-asset .add {
        width: calc(95%);
    }

    p {
        font-size: 90%;
    }

    .head {
        padding: 10px 20px;
    }

    .head .search-bar input {
        height: 35px;
        font-size: 100%;
    }

    .head .search-bar input::placeholder {
        font-size: 100%;
    }

    .head .search-bar img {
        left: 7px;
        width: 20px;
        height: auto;
    }

    .head .user-profile img {
        width: 40px;
        height: 40px;
    }

    .content {
        padding: 20px;
    }

}

